.container {
  height: 2vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-left: 0px;
  margin-right: 100px;
  margin-top: 10px;
}
.slider__part {
  position: absolute;
  width: 230px;
  margin-left: 30px;
  display: flex;
}
.part1,
.part2,
.part3,
.part4,
.part5 {
  background-color: #ced4da;
  border: none;
  height: 12px;
  width: 2px;
  z-index: 2;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
.part2 {
  left: 25%;
}
.part3 {
  left: 50%;
}
.part4 {
  left: 75%;
}
.part5 {
  left: 100%;
}

.slider {
  position: relative;
  width: 205px;
  margin-left: 20px;
}

.slider__track,
.slider__range,
.slider__left2-value,
.slider__mid-value,
.slider__right2-value,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 123%;
  z-index: 1;
}

.slider__range {
  background-color: crimson;
  z-index: 1;
}

.slider__left-value,
.slider__left2-value,
.slider__mid-value,
.slider__right2-value,
.slider__right-value {
  color: #111;
  font-size: 12px;
  margin-top: 15px;
}

.slider__left-value {
  left: 7px;
}
.slider__left2-value {
  left: 60px;
}
.slider__mid-value {
  right: 66px;
}

.slider__right2-value {
  right: 7px;
}

.slider__right-value {
  right: -53px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 255px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: crimson;
  border: none;
  border-radius: 50%;
  border: 1px solid#fff;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  margin-left: 20px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
